$footer-height: 30px;
$content-padding: 25px;
$white: #DDD;
$footer-color: $white;
$transparent-bg: rgba(128, 128, 128, .2);

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("/static/img/bar-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: $footer-height;
}

.yelp-logo {
  margin-top: -6px;
}

footer.main {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: $transparent-bg;

  .authorship {
    color: $footer-color;
    padding-right: 50px;
    text-align: right;

    a { color: inherit; }
  }
}

.content {
  color: $white;
  background-color: $transparent-bg;
  border-radius: 10px;
  padding: $content-padding;
  margin: 140px auto;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.page-home {
  .content { max-width: 500px; }
  .action {
    margin-top: 20px;
  }
}

.page-bar {
  .content {
    max-width: 600px;

    .bar-name {
      text-decoration: inherit;
    }

    footer {
      margin-bottom: 10px-$content-padding;

      p { margin: 0; }
    }
  }

  .flash-error {
    // make it easier to read
    background-color: adjust-color($transparent-bg, $red: 30, $alpha: 0.3);

    font-size: 3rem;
    text-align: center;
  }
}
