{% extends "base.html" %}
{% block body %}
{% if not bar %}
  <div class="content flash-error">
    <p>:'(<br/>
      {% if error %}
        {% if error == "UnavailableForLocation" %}
        {# Note: it also raises this error for unknown regions e.g. "dfgdfgdfgdgf" #}
        It seems Yelp is not available for this region.
        {% else %}{# YelpError #}
        We got an error. Please <a href="https://github.com/bfontaine/pickabar/issues/new" rel="nofollow">report it</a> if it persists.
        {% endif %}
      {% else %}
        We couldn’t find any bar around there.
      {% endif %}
      <a href="{{ url_for("home") }}">Try again</a>.</p>
  </div>
{% else %}
  <div class="content bar">
    <h1>{{ bar.name }}</h1>
    {% if bar.review_count %}
    <p class="yelp-reviews">
      {# TODO change this; the generic image is badly cropped and we get
         white borders around stars #}
      <img src="{{ bar.rating_img_url }}"
           width="84" height="17"
           alt="{{ bar.rating }}/5" /> based on {{ bar.review_count }} Yelp reviews.
    </p>
    {% endif %}

    <p class="address">
      {% for line in bar_address %}
        {{ line }}<br />
      {% endfor %}
    </p>
    <div class="osm-map">
      {{ bar.location.coordinate | osm_map }}
    </div>
    <footer>
      <p>Data from <a href="{{ bar.url }}" target="_blank"
                      rel="external nofollow"><img alt="Yelp.com"
                        src="/static/img/yelp-logo.png"
                        width="44" height="24" class="yelp-logo" /></a>.
         {# We might want to make another request with the same location
            instead of going back home #}
         <a href="{{ url_for("home") }}">Try another</a>.</p>
    </footer>
  </div>
{% endif %}
{% endblock %}
