<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Pickabar{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>
  <body{% if page_id %} class="page-{{ page_id }}"{% endif %}>
    <div class="main">
        {% block body %}{% endblock %}
    </div>
    <footer>
      <p class="authorship">Created by <a href="http://bfontaine.net">Baptiste Fontaine</a> — &copy; 2016.</p>
    </footer>
  </body>
</html>
