{% extends "base.html" %}
{% block body %}
  <div class="content">
  <form action="{{ url_for("show_bar") }}" method="post">
    <div{% if error %} class="has-error"{% endif %}>
      <label for="q" class="sr-only">Location</label>
      <input type="search" id="q" name="location"
            autofocus="true" autosave="true" required="true"
            class="form-control input-lg"
            placeholder="Where are you?" />
    </div>

    <button type="submit"
            class="btn btn-lg btn-primary btn-block action">Pick a bar!</button>
  </form>
  </div>
{% endblock %}
